
.carousel {
    width: 100%;
    display: flex;
    gap: var(--spacing-m);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: after;
}
.carousel::scroll-button(*) {
    position: absolute;
    position-anchor: --carousel;
    border: 0;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    font-family: var(--font-sans);
    font-size: 2rem;
    background-color: rgb(from var(--color-black) 0 0 0 / 0.66);
    color: var(--color-white);
    cursor: pointer;
    opacity: 0.35;
    transition: all 0.3s ease;
}
.carousel::scroll-button(*):hover {
    opacity: 1;
}
.carousel::scroll-button(*):disabled {
    cursor: not-allowed;
}
.carousel::scroll-button(left) {
    content:'←';
    left: calc(anchor(left) + 1rem);
	top: 50%;
	transform: translate(0, -50%);
}
.carousel::scroll-button(right) {
    content:'→';
    right: calc(anchor(right) + 1rem);
	top: 50%;
	transform: translate(0, -50%);
}
.carousel::scroll-marker-group {
    position: absolute;
    position-anchor: --carousel;
    bottom: calc(anchor(bottom) - 1.5rem);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.carousel li {
    list-style-type: none;
    flex: 0 0 100%;
    max-width: 100%;
    aspect-ratio: 4/3;
    background-color: var(--color-gray-300);
    scroll-snap-align: center;
}
.carousel li::scroll-marker {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-primary);
}
.carousel li::scroll-marker:target-current {
    background-color: var(--color-secondary);
}
.carousel .mask {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel .mask .carousel-image {
    height: 100%;
}