:root {
  --color-background: #01050e;
}
header {
    background-color: transparent;
    width: 100%;
    color: white;
    transition: 0.3s;
    margin: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 1;
}
header.scrolled {
    background-color: var(--color-background);
}
nav {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    padding: 0 3vw;
}
.hamburger {
    font-family: var(--font-sans);
    font-size: 2rem;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    grid-column: 2;
}
nav input[type="checkbox"] {
    display: none;
} 
nav input[type="checkbox"]:not(:checked) + ul {
        display: none;
      }
.nav-logo {
    grid-column: 1;
    text-align: left;
}
.nav-logo > img {
    max-width: 200px;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(-1rem);
}
header.scrolled .nav-logo > img {
    opacity: 1;
    transform: translateY(0);
}
.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    flex-direction: column;
    grid-column: 2/3;
    padding-bottom: var(--spacing-s);
}
.nav-links > li {
    text-align: right;
    padding-right: var(--spacing-s);
    padding-bottom: var(--spacing-s);
}

@media (min-width: 1024px) {
    nav {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 0.5rem;
        align-items: center;
    }
    nav .nav-logo {
        grid-column: 2;
        text-align: center;
    }
    nav label {
      display: none !important;
    }
    nav input[type="checkbox"] + ul {
        display: flex !important;
        align-items: flex-end;
        grid-column: 3;
        padding-bottom: 0;
    }
    .nav-links {
        flex-direction: row;
        grid-column: 1/3;
    }
    .nav-links > li {
        padding-bottom: 0;
    }
}