/* Created by Joey Sweener. https://jsweener.carrd.co. | V 1.0.0 */

:root { 
    /* These root variables define the core elements of the system, like spacing and grids. Editing these variables will cascade down into the skeleton, allowing for broad system edits by manipulating these values. Please note that there are no visual characteristics in this file; those are edited in "theme.css". */
    --spacing-base-value: 1rem;
    --spacing-xs: calc(var(--spacing-base-value) * 0.5);
    --spacing-s: var(--spacing-base-value);
    --spacing-m: calc(var(--spacing-base-value) * 1.5);
    --spacing-l: calc(var(--spacing-base-value) * 2.25);
    --spacing-xl: calc(var(--spacing-base-value) * 4);
    --spacing-xxl: calc(var(--spacing-base-value) * 6);
    --spacing-3xl: calc(var(--spacing-base-value) * 12);
    --grid-columns: 4; /* This default number reflects the number of columns on mobile. */
    --grid-gap: var(--spacing-s);
    --max-width: 90ch;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
img { 
    /* Constrain the width of images to be 100% the size of their container. Can be overwritten in theme.css if this, for some reason, causes issues. */
    width: 100%;
}
.block {
    transition: all 300ms;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding: var(--spacing-m) 0;
}
.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}
/* CSS grid functionality. Starts as a 4-column grid on mobile and expands to a 12-column grid at larger screen sizes. Various classes assigned in the HTML determine an item's placement on the grid. All children of the grid must have at least one span or column assignment, or will default to spanning a single column. */
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-gap);
    padding: var(--grid-gap) inherit;
}
.grid * {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-span);
    width: 100%;
}
.mobile-span-full, .mobile-span-all, .mobile-span-4 {
    --grid-span: span var(--grid-columns);
}
.mobile-span-3 {
    --grid-span: span calc((var(--grid-columns) / var(--grid-columns)) * 3);
}
.mobile-span-half, .mobile-span-2 {
    --grid-span: span calc(var(--grid-columns) / 2);
}
.mobile-span-quarter, .mobile-span-1 {
    --grid-span: span calc(var(--grid-columns) / var(--grid-columns));
}
@media (min-width: 768px) {
    :root {
        --grid-columns: 12;
        --grid-gap: var(--spacing-m);
    }
    .span-1 {
        --grid-column-start: unset;
        --grid-span: span 1;
    }
    .span-2 {
        --grid-column-start: unset;
        --grid-span: span 2;
    }
    .span-3, .span-quarter {
        --grid-column-start: unset;
        --grid-span: span calc(var(--grid-columns) / 4);
    }
    .span-4, .span-third, .span-one-third {
        --grid-column-start: unset;
        --grid-span: span calc(var(--grid-columns) / 3);
    }
    .span-5 {
        --grid-column-start: unset;
        --grid-span: span 5;
    }
    .span-6, .span-half, .span-two-quarter, .span-two-quarters {
        --grid-column-start: unset;
        --grid-span: span calc(var(--grid-columns) / 2);
    }
    .span-7 {
        --grid-column-start: unset;
        --grid-span: span 7;
    }
    .span-8, .span-two-third, .span-two-thirds {
        --grid-column-start: unset;
        --grid-span: span calc((var(--grid-columns) / 3) * 2);
    }
    .span-9, .span-three-quarter, .span-three-quarters {
        --grid-column-start: unset;
        --grid-span: span calc((var(--grid-columns) / 4) * 3);
    }
    .span-10 {
        --grid-column-start: unset;
        --grid-span: span 10;
    }
    .span-11 {
        --grid-column-start: unset;
        --grid-span: span 11;
    }
    .span-12, .span-all, .span-full {
        --grid-column-start: 1;
        --grid-span: span var(--grid-columns);
    }
    .col-start-1 {
        --grid-column-start: 1;
    }
    .col-start-2 {
        --grid-column-start: 2;
    }
    .col-start-3 {
        --grid-column-start: 3;
    }
    .col-start-4, .col-start-quarter {
        --grid-column-start: 4;
    }
    .col-start-5, .col-start-third, .col-start-one-third {
        --grid-column-start: 5;
    }
    .col-start-6 {
        --grid-column-start: 6;
    }
    .col-start-7, .col-start-half {
        --grid-column-start: 7;
    }
    .col-start-8 {
        --grid-column-start: 8;
    }
    .col-start-9, .col-start-two-third, .col-start-two-thirds {
        --grid-column-start: 9;
    }
    .col-start-10, .col-start-three-quarter, .col-start-three-quarters {
        --grid-column-start: 10;
    }
    .col-start-11 {
        --grid-column-start: 11;
    }
    .col-start-12 {
        --grid-column-start: 12;
    }
}
/* CSS flexbox functionality. The first class assigns a container to be a flex box, and additional assignments determine behavior. Like with the grids, the goal is to be able to assign classes within the HTML to handle broad functionality and placement. */
.flex {
    display: flex;
    gap: var(--grid-gap);
    margin: var(--grid-gap) auto;
}
.mobile-flex-columns, .mobile-flex-column {
    flex-direction: column;
}
.mobile-flex-columns-reverse, .mobile-flex-column-reverse {
    flex-direction: column-reverse;
}
.mobile-flex-rows, .mobile-flex-row {
    flex-direction: row;
}
.mobile-flex-rows-reverse, .mobile-flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-wrap {
    flex-wrap: wrap;
}
.center {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.stretch {
    align-items: stretch;
    align-content: stretch;
}
.evenly {
    align-content: space-evenly;
    justify-content: space-evenly;
}
@media (min-width: 768px) {
    .flex-columns, .flex-column {
        flex-direction: column;
    }
    .flex-columns-reverse, .flex-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-rows, .flex-row {
        flex-direction: row;
    }
    .flex-rows-reverse, .flex-row-reverse {
        flex-direction: row-reverse;
    }
}