p {
    font-family: var(--font-sans);
    font-weight: inherit;
    line-height: 190%;
}
p.eyebrow {
    font-family: var(--font-serif);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: var(--spacing-s);
}
p a {
    color: var(--color-white);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px !important;
    text-decoration-color: var(--color-secondary);
    transition: all 0.3s ease;
}
p a:hover {
    color: var(--color-secondary);
    text-decoration-color: transparent;
}
.button-primary, .button-secondary, .button-tertiary {
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    transition: all 0.3s ease;
}
h1 {
    font-family: var(--font-serif);
    font-size: clamp(2rem, 8vw, 3rem);
    font-weight: 400;
    line-height: 138%;
    margin-bottom: var(--spacing-l);
}
h2 {
    font-family: var(--font-sans);
    font-size: clamp(1.625rem, 6vw, 2rem);
    font-weight: 400;
    text-transform: uppercase;
    margin: var(--spacing-l) 0 var(--spacing-s);
}
footer p {
    font-family: var(--font-sans);
    margin: 0 var(--spacing-l);
    color: var(--color-gray-200);
    font-size: 0.75rem;
}